.MainContainer .dashboard .CardContainer{
	display: flex;
	align-items: center;
	justify-content: center;
}

table{
	text-align: center;
	border-collapse:separate;
	border-spacing: 10px 25px;
}

table tr th{
	font-size: 1.3em;
}

table tr td{
	font-size: 1.2em;
}

table tr th , table tr td{
	width: 150px;
	padding-bottom: 15px;
	border-bottom: 2px solid grey;
}

table tr th:last-child , table tr td:last-child{	
	width: 250px;
	border-bottom: none;
}

table tr th:nth-last-child(2) , table tr td:nth-last-child(2){	
	width: 200px;
	
}

table tr td:last-child{
	padding: 0 10px;
	text-align: justify;	
}

table tr:last-child > *{
	border-bottom: none;
}

button{
	padding: 10px 20px;
	background-color: white;
	border-radius: 5px;
}

button{
	cursor: pointer;
	box-shadow: 2px 2px 2px  black;
}

button:active{
	box-shadow: none;
}

