

.MainContainer .dashboard{
	margin:0 30px;
}
.MainContainer .dashboard .CardContainer{
	flex-direction: column;
	gap: 0px;
}

form {
	display: flex;
	flex-direction: column;
	gap:2px;
	width:90%;
	margin:auto;
}

button{
	width: 10%;
	align-self: flex-end;
	padding: 5px 15px;
	cursor: pointer;
	box-shadow: 2px 2px 2px  black;
}

button:active{
	box-shadow: none;
}