table{
	margin: 15px ;
	text-align: center;
	border-collapse:separate;
	border-spacing: 10px 25px;
}

table tr td:nth-child(1){
	text-align: justify;
	width: 35%;
}

table tr td:nth-child(2){
	width: 10%;
}


table tr th button{
	padding: 10px 20px;
	background-color: white;
	border-radius: 5px;
}

button{
	cursor: pointer;
	box-shadow: 2px 2px 2px  black;
}

button:active{
	box-shadow: none;
}