body {
    background-color: black;
}

.viewMore-container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.viewMore-info {
    justify-content: center;
    /* margin-top: 100px; */
    display: flex;
}


.viewMore-icons {
    width: 20px;
    height: 20px;
}

.sellerImg {
    height: 70px;
    width: 70px;
}

.viewMore-info-cont {
    height: 100%;
    margin: 50px;
    border-radius: 15px;
    /* box-shadow: 1px 4px 20px rgb(20, 20, 20); */
    background-color: rgb(14, 14, 14);
    justify-content: space-around;
    padding: 10px 40px;

}

.viewMore-info-left-cont1{
    display: flex;
    flex-direction: column;
}

.viewMore-info-left-cont1-icons {
    display: flex;
    gap: 20px;
}

.moreInfo-box {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 1px 1px 20px rgb(20, 20, 20);
}


.seeMore-sellerInfo {
    display: flex;
}

.viewMore-seller-icons {
    display: flex;
    /* border: 1px solid wheat; */
}

.contactSeller {
    display: flex;
    align-items: center;
    gap: 5px;

}

.viewMore-icons {
    display: flex;
    align-items: center;

}

.viewMore-seller {
    align-items: left;
    padding: 10px 15px;

    background-color: rgb(14, 14, 14);
}

/* 
 * jquery.hislide.min.css
 * Date: 2017-02-15
 * Version: v1.0.0
 * Author: Cphayim
 * Site: https://cphayim.me 
*/

.hi-slide {
    position: relative;
    width: 754px;
    height: 292px;
    margin: 115px auto 0
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 80px;
    margin-top: -40px;
    border-radius: 5px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    background-color: #666;
    color: #fff;
    opacity: .7;
    transition: all .6s;
    font-size: 30px
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
    opacity: 1;
    background-color: #444
}

.hi-slide .hi-prev {
    left: -60px
}

.hi-slide .hi-prev::before {
    content: '<'
}

.hi-slide .hi-next {
    right: -60px
}

.hi-slide .hi-next::before {
    content: '>'
}

.hi-slide>ul {
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0
}

.hi-slide>ul>li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 146px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #333;
    cursor: pointer
}

.hi-slide>ul>li>img {
    width: 100%;
    height: 100%
}