<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<display-name>PropertyManagement</display-name>
	 
	 <welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	 
	 <servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>com.UserServlets.Index</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/IndexDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.UserServlets.Login</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>com.UserServlets.Contact</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/Contact</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditProfile</servlet-name>
		<servlet-class>com.UserServlets.EditProfile</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/EditProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.UserServlets.Logout</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Signin</servlet-name>
		<servlet-class>com.UserServlets.Signin</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Signin</servlet-name>
		<url-pattern>/Signin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Feedback</servlet-name>
		<servlet-class>com.UserServlets.Feedback</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Feedback</servlet-name>
		<url-pattern>/Feedback</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetFeedback</servlet-name>
		<servlet-class>com.UserServlets.GetFeedback</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetFeedback</servlet-name>
		<url-pattern>/GetFeedback</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteProfile</servlet-name>
		<servlet-class>com.UserServlets.DeleteProfile</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DeleteProfile</servlet-name>
		<url-pattern>/DeleteProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteFeedback</servlet-name>
		<servlet-class>com.UserServlets.DeleteFeedback</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DeleteFeedback</servlet-name>
		<url-pattern>/DeleteFeedback</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetPropertyDetails</servlet-name>
		<servlet-class>com.UserServlets.GetPropertyDetails</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetPropertyDetails</servlet-name>
		<url-pattern>/GetPropertyDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateProperty</servlet-name>
		<servlet-class>com.UserServlets.CreateProperty</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateProperty</servlet-name>
		<url-pattern>/CreateProperty</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetLoggedUserProperty</servlet-name>
		<servlet-class>com.UserServlets.GetLoggedUserProperty</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetLoggedUserProperty</servlet-name>
		<url-pattern>/GetLoggedUserProperty</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedbackEdit</servlet-name>
		<servlet-class>com.UserServlets.FeedbackEdit</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FeedbackEdit</servlet-name>
		<url-pattern>/FeedbackEdit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditProperty</servlet-name>
		<servlet-class>com.UserServlets.EditProperty</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EditProperty</servlet-name>
		<url-pattern>/EditProperty</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetPropertyFromPID</servlet-name>
		<servlet-class>com.UserServlets.GetPropertyFromPID</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetPropertyFromPID</servlet-name>
		<url-pattern>/GetPropertyFromPID</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateProperty</servlet-name>
		<servlet-class>com.UserServlets.UpdateProperty</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateProperty</servlet-name>
		<url-pattern>/UpdateProperty</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
	
	
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>com.AdminServlets.AdminIndex</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin/AdminIndex</url-pattern>
		<url-pattern>/Admin/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminContactDetails</servlet-name>
		<servlet-class>com.AdminServlets.AdminContactDetails</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminContactDetails</servlet-name>
		<url-pattern>/Admin/AdminContactDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminFeedback</servlet-name>
		<servlet-class>com.AdminServlets.AdminFeedback</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminFeedback</servlet-name>
		<url-pattern>/Admin/AdminFeedback</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminUserDetails</servlet-name>
		<servlet-class>com.AdminServlets.AdminUserDetails</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminUserDetails</servlet-name>
		<url-pattern>/Admin/AdminUserDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateContactDetails</servlet-name>
		<servlet-class>com.AdminServlets.UpdateContactDetails</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateContactDetails</servlet-name>
		<url-pattern>/Admin/UpdateContactDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminDeleteUser</servlet-name>
		<servlet-class>com.AdminServlets.AdminDeleteUser</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminDeleteUser</servlet-name>
		<url-pattern>/Admin/DeleteUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminFeedbackReg</servlet-name>
		<servlet-class>com.AdminServlets.AdminFeedbackReg</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminFeedbackReg</servlet-name>
		<url-pattern>/Admin/AdminFeedbackReg</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.AdminServlets.AdminLogin</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/Admin/AdminLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminSignIn</servlet-name>
		<servlet-class>com.AdminServlets.AdminSignIn</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminSignIn</servlet-name>
		<url-pattern>/Admin/AdminSignIn</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminLogout</servlet-name>
		<servlet-class>com.AdminServlets.AdminLogout</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminLogout</servlet-name>
		<url-pattern>/Admin/AdminLogout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminPropertDetails</servlet-name>
		<servlet-class>com.AdminServlets.AdminPropertDetails</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminPropertDetails</servlet-name>
		<url-pattern>/Admin/AdminPropertDetails</url-pattern>
	</servlet-mapping>
</web-app>